<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
 <servlet>
  <servlet-name>adminlogin</servlet-name>
  <servlet-class>servlets.AdminLogin</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>adminlogin</servlet-name>
  <url-pattern>/adminlogin1</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>addlibrarian</servlet-name>
  <servlet-class>servlets.AddLibrarian</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>addlibrarian</servlet-name>
  <url-pattern>/addlibrarian</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>editlibrarian</servlet-name>
  <servlet-class>servlets.EditLibrarian</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>editlibrarian</servlet-name>
  <url-pattern>/editlibrarian</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>editlibrarianform</servlet-name>
  <servlet-class>servlets.EditLibrarianForm</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>editlibrarianform</servlet-name>
  <url-pattern>/editlibrarianform</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>deletelibrarian</servlet-name>
  <servlet-class>servlets.DeleteLibrarian</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>deletelibrarian</servlet-name>
  <url-pattern>/deletelibrarian</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>librarianlogin</servlet-name>
  <servlet-class>servlets.LibrarianLogin</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>librarianlogin</servlet-name>
  <url-pattern>/librarianlogin</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>addbook</servlet-name>
  <servlet-class>servlets.AddBook</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>addbook</servlet-name>
  <url-pattern>/addbook</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>

</web-app>